# skylon07's .vscode/settings.json exclude list
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.pyc
**/__pycache__

# speaking of .vscode...
.vscode
SolverPro.code-workspace

# scratch file/folder for manual testing
scratch

# pyinstaller build files
build-scripts/*/*
# ... but keep scripts
!build-scripts/mac/maketar.sh
!build-scripts/mac/run_pyinstaller.sh
!build-scripts/mac/SolverPro_downloader_mac
!build-scripts/mac/SolverPro_fixErrors
!build-scripts/win/run_pyinstaller.bat
