# skylon07's .vscode/settings.json exclude list
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.pyc
**/__pycache__

# speaking of .vscode...
.vscode
SolverPro.code-workspace

# scratch file/folder for manual testing
scratch
