[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
textual = "*"

[dev-packages]
pyinstaller = "*"
pytest = "*"
pywin32-ctypes = "*"

[requires]
python_version = "3.10"
