Input.darkPlaceholder .input--placeholder {
    background: #a0a0a0;
}

AppHeader {
    dock: top;
    width: 100%;
    height: 3;
    background: $foreground 5%;
    color: $text;
}

AppHeader Label {
    width: 100%;
    height: 100%;
    content-align: center middle;
}
